
.needPunctuality{
    padding-top: 20%;
    min-height: 100vh;
    background-color: #2F5E58;
    width:70%;
    margin:auto;
}
.circle-container {
    position: relative;
    width:100%;
}

.small-circle {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #9DA3A4;
    border-radius: 50%;
    left:40%;
    top: 0%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 16px;
    text-align: center;
    font-size:150%;
    font-family: "Dosis", sans-serif;
}

.center-circle {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color:#FAAE7B;
    border-radius: 50%;
    left: 50%;
    top:140px;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 16px;
    text-align: center;
    font-family: "Dosis", sans-serif;
    font-size: 300%;
}