
#use {
        color: chocolate;
}
    .about{
        align-items: center;
        justify-content: center;
        text-align: center;
    
    }
    .matter{
        background-color: #B18C73;
        padding: 22px;
        font-size: large;
        
    }
    .matter h2{
        color: #d2691e;
    }
    .success {
        display: flex;
        gap: 50px;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        background-color: #9DA3A4;
        padding: 40px;
        


    }
    .success a{
        text-decoration: none;
        color: #7e441e;
    }
    .suc{
        background-color: #9DA3A4;
        padding: 30px;
        font-size: large;
    }
    .fa{
        
        word-spacing: 30px;

    }
    .twitter{
        
        color: #d2691e;
        top: 6cm;
    }
    #fa-brands fa-twitter{
        color: #d2691e;
        

    }